<!-- Home template -->

<!-- Homepage banner-->
<section class="homepage-banner mt-3">

    <div class="row">

        <!-- Slideshow -->
        {% if settings.options.slideshow_banner %}

            <div class="col-12">
                <div class="large-banner">
                    {% if settings.images.slideshow_1 %}
                    <!-- Carousel Wrapper -->
                        <div id="homepage-slideshow" class="carousel slide carousel-fade" data-ride="carousel">

                            <!-- Indicators -->
                            {% if settings.images.slideshow_1 and settings.images.slideshow_2 %}
                            <ol class="carousel-indicators">
                                {% if settings.images.slideshow_1 %}
                                    <li data-target="#homepage-slideshow" data-slide-to="0" class="active"></li>
                                {% endif %}

                                {% if settings.images.slideshow_2 %}
                                    <li data-target="#homepage-slideshow" data-slide-to="1"></li>
                                {% endif %}

                                {% if settings.images.slideshow_3 %}
                                    <li data-target="#homepage-slideshow" data-slide-to="2"></li>
                                {% endif %}
                            </ol>
                            {% endif %}
                            <!-- /.Indicators -->

                            <!-- Slides -->
                            <div class="carousel-inner" role="listbox">
                                {% if settings.images.slideshow_1 %}
                                    <div class="carousel-item active">
                                        <div class="view">
                                            <a href="{{ settings.options.slideshow_1_link }}"><img class="d-block w-100" src="{{ settings.images.slideshow_1 }}"></a>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if settings.images.slideshow_2 %}
                                    <div class="carousel-item">
                                        <div class="view">
                                            <a href="{{ settings.options.slideshow_2_link }}"><img class="d-block w-100" src="{{ settings.images.slideshow_2 }}"></a>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if settings.images.slideshow_3 %}
                                    <div class="carousel-item">
                                        <div class="view">
                                            <a href="{{ settings.options.slideshow_3_link }}"><img class="d-block w-100" src="{{ settings.images.slideshow_3 }}"></a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <!--/.Slides-->

                            <!-- Controls -->
                            {% if settings.images.slideshow_1 and settings.images.slideshow_2 %}
                            <a class="carousel-control-prev" href="#homepage-slideshow" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>

                            <a class="carousel-control-next" href="#homepage-slideshow" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            {% endif %}
                            <!-- /.Controls -->

                        </div>
                    {% else %}
                        <a href="{{ settings.options.banner_link }}">{{ 'banner-1' | placeholder_svg_tag }}</a>
                    {% endif %}
                    <!-- /.Carousel Wrapper -->
                </div>
            </div>

        {% endif %}
        <!-- /.Slideshow -->

        <!-- First small banner -->
        {% if settings.options.banner_small_first %}

            <div class="col-12 {% if settings.options.banner_small_first and settings.options.banner_small_second %}col-md-6{% endif %}">

                <div class="featured-banner">
                    {% if settings.images.banner_small_first %}
                        <a href="{{ settings.options.banner_small_first_link }}">
                            <img src="{{ settings.images.banner_small_first }}" width="100%">
                        </a>
                    {% else %}
                        <a href="{{ settings.options.banner_small_first_link }}">
                            {{ 'banner-1' | placeholder_svg_tag }}
                        </a>
                    {% endif %}

                </div>

            </div>

        {% endif %}
        <!-- /.First small banner -->

        <!-- Second small banner -->
        {% if settings.options.banner_small_second %}

            <div class="col-12 {% if settings.options.banner_small_first and settings.options.banner_small_second %}col-md-6{% endif %}">

                <div class="featured-banner">
                    {% if settings.images.banner_small_second %}
                        <a href="{{ settings.options.banner_small_second_link }}">
                            <img src="{{ settings.images.banner_small_second }}" width="100%">
                        </a>
                    {% else %}
                        <a href="{{ settings.options.banner_small_second_link }}">
                            {{ 'banner-1' | placeholder_svg_tag }}
                        </a>
                    {% endif %}
                </div>

            </div>

        {% endif %}
        <!-- /.Second small banner -->

    </div>

</section>
<!-- /.Homepage banner -->

<!-- Featured products -->
{% if settings.options.featured_products %}

<section class="products">

    <div class="row">

        <!-- Featured text -->
        {% if settings.options.featured_text %}

        <div class="col-12 text-center">

            <h2 class="section-title">
                {{ settings.options.featured_text }}
            </h2>

            <hr class="hr-small mb-4">

        </div>

        {% endif %}
        <!-- /.Featured text -->

        <div class="col-12">

            <div class="row">

                <!-- Homepage featured products -->
                {%- set product_categories = store.category_featured -%}
                {%- set sliceLength = settings.options.featured_products_number -%}

                    {% if categories[product_categories].products | length > 0 or (products | length > 0 and store.category_featured == false) %}

                        {% if store.category_featured != false %}

                        <!-- Product Categories -->
                            {% for product in categories[product_categories].products|slice(0, sliceLength) %}

                                <div class="{{ settings.options.mobile_grid_column }} {{ settings.options.grid_column }}">

                                    {% if product.available %}

                                        <a href="{{ product.url }}" title="{{ product.name | escape }}">

                                            <div class="product-image">

                                                {% if product.metafields.label.custom %}

                                                    <span class="custom-label badge badge-primary">{{ product.metafields.label.custom }}</span>

                                                {% endif %}

                                                {% if product.featured_image %}

                                                    {% if settings.options.hd_featured_image %}

                                                    <img width="100%" src="{{ product.featured_image | product_image_size('large') }}" alt="{{ product.name }}">

                                                    {% else %}

                                                    <img width="100%" src="{{ product.featured_image | product_image_size('medium') }}" alt="{{ product.name }}">

                                                    {% endif %}

                                                {% else %}

                                                    {{ 'image' | placeholder_svg_tag }}

                                                {% endif %}

                                            </div>

                                        </a>

                                    {% else %}

                                        <a href="{{ product.url }}" title="{{ product.name | escape }}">

                                            <div class="product-image sold-out">

                                                <div class="sold-out-badge"><p>Sold out</p></div>

                                                    {% if product.featured_image %}

                                                        {% if settings.options.hd_featured_image %}

                                                        <img width="100%" src="{{ product.featured_image | product_image_size('large') }}" alt="{{ product.name }}">

                                                        {% else %}

                                                        <img width="100%" src="{{ product.featured_image | product_image_size('medium') }}" alt="{{ product.name }}">

                                                        {% endif %}

                                                    {% else %}

                                                        {{ 'image' | placeholder_svg_tag }}

                                                    {% endif %}

                                            </div>

                                        </a>

                                    {% endif %}

                                    <div class="product-info">

                                        <a href="{{ product.url }}" title="{{ product.name | escape }}">

                                        <h3>{{ product.name | escape }}</h3>

                                            {% if product.selected_or_first_available_variant.compare_at_price > 0 %}

                                                {% if product.selected_or_first_available_variant.compare_at_price %}
                                                    <span class="discount-price">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
                                                {% endif %}

                                                {% if product.price_varies %}
                                                    <span class="price">{{ product.price | money }}<sup>+</sup></span>
                                                {% else %}
                                                    <span class="price">{{ product.price | money }}</span>
                                                {% endif %}

                                            {% else %}

                                                {% if product.price_varies %}
                                                    <span class="price">{{ product.price | money }}<sup>+</sup></span>
                                                {% else %}
                                                    <span class="price">{{ product.price | money }}</span>
                                                {% endif %}

                                            {% endif %}

                                        </a>

                                    </div>

                                </div>

                            {% endfor %}
                            <!-- /.Product Categories -->
				            <!-- Featured view all products button -->
                                {% if settings.options.featured_products_btn %}

                                    <div class="col-12 text-center mb-5">

                                        <hr class="hr-separator">

                                            <a class="btn btn btn-outline-dark" href="{% if settings.options.products_categories == true %}categories/{{ store.category_featured }}{% else %}/products{% endif %}">VIEW ALL</a>

                                    </div>

                                {% endif %}
                                <!-- /.Featured view all products button -->

                         {% else %}

                              <!-- All Products -->
                              {% for product in products|slice(0, sliceLength) %}

                                  <div class="{{ settings.options.mobile_grid_column }} {{ settings.options.grid_column }}">

                                      {% if product.available %}

                                           <a href="{{ product.url }}" title="{{ product.name | escape }}">

                                        <div class="product-image">

                                            {% if product.metafields.label.custom %}

                                                <span class="custom-label badge badge-primary">{{ product.metafields.label.custom }}</span>

                                            {% endif %}

                                            {% if product.featured_image %}

                                                {% if settings.options.hd_featured_image %}

                                                <img width="100%" src="{{ product.featured_image | product_image_size('large') }}" alt="{{ product.name }}">

                                                {% else %}

                                                <img width="100%" src="{{ product.featured_image | product_image_size('medium') }}" alt="{{ product.name }}">

                                                {% endif %}

                                            {% else %}

                                                {{ 'image' | placeholder_svg_tag }}

                                            {% endif %}

                                        </div>

                                    </a>

                                {% else %}

                                    <a href="{{ product.url }}" title="{{ product.name | escape }}">

                                        <div class="product-image sold-out">

                                            <div class="sold-out-badge"><p>Sold out</p></div>

                                            {% if product.featured_image %}

                                                {% if settings.options.hd_featured_image %}

                                                <img width="100%" src="{{ product.featured_image | product_image_size('large') }}" alt="{{ product.name }}">

                                                {% else %}

                                                <img width="100%" src="{{ product.featured_image | product_image_size('medium') }}" alt="{{ product.name }}">

                                                {% endif %}

                                            {% else %}

                                                {{ 'image' | placeholder_svg_tag }}

                                            {% endif %}

                                        </div>

                                    </a>

                                 {% endif %}

                                      <div class="product-info">

                                            <a href="{{ product.url }}" title="{{ product.name | escape }}">

                                                <h3>{{ product.name | escape }}</h3>

                                                {% if product.selected_or_first_available_variant.compare_at_price > 0 %}

                                                    {% if product.selected_or_first_available_variant.compare_at_price %}
                                                        <span class="discount-price">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
                                                    {% endif %}

                                                    {% if product.price_varies %}
                                                        <span class="price">{{ product.price | money }}<sup>+</sup></span>
                                                    {% else %}
                                                        <span class="price">{{ product.price | money }}</span>
                                                    {% endif %}

                                                {% else %}

                                                    {% if product.price_varies %}
                                                        <span class="price">{{ product.price | money }}<sup>+</sup></span>
                                                    {% else %}
                                                        <span class="price">{{ product.price | money }}</span>
                                                    {% endif %}

                                                {% endif %}
                                            </a>

                                      </div>

                                  </div>

                              {% endfor %}

				                <!-- Featured view all products button -->
                                {% if settings.options.featured_products_btn %}

                                <div class="col-12 text-center mb-5">

                                    <hr class="hr-separator">

                                        <a class="btn btn btn-outline-dark" href="{% if store.category_featured != false %}/categories/{{ store.category_featured }}{% else %}/products{% endif %}">VIEW ALL</a>

                                </div>

                                {% endif %}
                                <!-- /.Featured view all products button -->

                                <!-- /.All Products -->

                            {% endif %}

                        {% else %}

                        <!-- Empty state placeholder -->
                        {% for i in range(0, 5) %}

                            <div class="{{ settings.options.mobile_grid_column }} {{ settings.options.grid_column }}">

                                <div class="product-image">
                                    {{ 'product-1' | placeholder_svg_tag }}
                                </div>

                                <div class="product-info">
                                    <h3>Product name</h3>
                                    <span class="product-price">RM99.99</span>
                                </div>

                            </div>

                        {% endfor %}

				        <!-- Featured view all products button -->
                        {% if settings.options.featured_products_btn %}

                            <div class="col-12 text-center mt-5 mb-5">

                                <a class="btn btn-sm btn-box" href="/products">VIEW ALL</a>

                            </div>
                            <!-- /.Empty state placeholder -->

				        {% endif %}
                        <!-- /.Featured view all products button -->


                {% endif %}

            </div>

        </div>

    </div>

</section>

{% endif %}
<!-- /.Featured products -->