<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <link rel="shortcut icon" href="{{ settings.images.favourite_icon }}" type="image/png" />

	{% if settings.options.custom_meta %}

	    <!-- Custom meta -->

		{{ settings.options.custom_meta }}

	{% endif %}

        {% if page.metafields.builder.fonts %}

	    {{ page.metafields.builder.fonts }}

	{% endif %}

    <title>{{ title }}</title>

    <meta name="description" content="{{ description }}">

    {{ css }}
    {{ head }}

    {%- set og_image_tag = '<meta property="og:image" content="' ~ settings.images.og_image ~ '">' -%}
    {%- set og_product_image_tag = '<meta property="og:image" content="' ~ product.featured_image ~ '">' -%}

    {%- set og_type = 'website' -%}
    {%- set og_title = title -%}
    {%- set og_url = page.url -%}
    {%- set og_description = description -%}

    <meta property="og:site_name" content="{{ store.name }}">
    <meta property="og:url" content="{{ og_url }}">
    <meta property="og:title" content="{{ og_title }}">
    <meta property="og:type" content="{{ og_type }}">
    <meta property="og:description" content="{{ og_description }}">
    {% if settings.images.og_image %}
        {%- if page.template in 'page' and page.image -%}
            <meta property="og:image" content="{{ page.image }}">
        {% elseif page.template in 'product' and product.featured_image is not empty %}
            {{ og_product_image_tag }}
        {% else %}
            {{ og_image_tag }}
        {% endif %}
    {% else %}
        {%- if page.template in 'page' and page.image -%}
            <meta property="og:image" content="{{ page.image }}">
        {% elseif page.template in 'product' and product.featured_image is not empty %}
            {{ og_product_image_tag }}
        {% endif %}
    {% endif %}

</head>

<body>

    {% if settings.options.announcement_text %}

        <div class="announcement-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <p class="small">
                            <a href="{{ settings.options.announcement_link }}">
                                {{ settings.options.announcement_text }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

    {% if page.metafields.builder.json != true %}

	<section class="header">
		<div class="container">
			<div class="row align-items-center">

				<div class="{% if settings.options.search_menu == true %}col-md-2 col-2{% else %} col{% endif %}">

					<a data-toggle="collapse" href="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu">
						<i data-feather="menu" class="nav-icons"></i>
					</a>

				</div>

				<div class="{% if settings.options.search_menu == true %}col-md-8 col-7{% else %} col{% endif %} text-center">

					{% if settings.images.header_logo is empty %}

						<a class="navbar-brand" href="/">{{ store.name }}</a>

					{% else %}

						<a href="/" title="{{ store.name }}">
							<img src="{{ settings.images.header_logo | product_image_size('medium') }}"
							style="max-width:200px">
						</a>

					{% endif %}

				</div>

				<div class="{% if settings.options.search_menu == true %}col-md-2 col-3 pl-0{% else %} col{% endif %} text-right">
                    {% if settings.options.search_menu == true %}
                    <a id="searchIconCollapse" title="Search" data-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseSearch">
                        <div class="search d-inline">
                            <i data-feather="search" class="nav-icons" height="20" width="20"></i>
                        </div>
                    </a>
                    {% endif %}
                    {% if settings.options.login_menu == true %}
                        {% if customer == false %}
                        <div class="d-none d-lg-inline login-icon">
                            <a href="/account/login" title="Login">
                                <i data-feather="user" class="nav-icons" height="20" width="20"></i
                            </a>
                        </div>
                        {% else %}
                            <div class="dropdown account-menu d-none d-lg-inline login-icon">
                                <a href="#" id="dropdownAccountMenuButton" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i data-feather="user" class="nav-icons" height="20" width="20"></i>
                                </a>
                                <div class="dropdown-menu mt-0" aria-labelledby="dropdownAccountMenuButton">
                                    <a href="/account" class="dropdown-item">Account</a>
                                    <a href="/account/orders" class="dropdown-item">Orders</a>
                                    <a href="/account/logout" class="dropdown-item">Logout</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
					<div class="cart d-inline">
						<a href="/cart" title="Cart"><i data-feather="shopping-bag" class="nav-icons"></i></a>
						{% if cart.item_count > 0 %}
						<div class="cart-badge">{{ cart.item_count }}</div>
						{% endif %}
					</div>
				</div>

				<div class="col-12">
					<div class="collapse" id="collapseMenu">
						<div class="card card-body top-menu p-0">

							<ul class="top-nav py-3">

								{% if attribute(menus, settings.options.main_menu_handle) %}
									{% for index, link in attribute(menus, settings.options.main_menu_handle).links %}
										{%- set valid = true -%}
											{% if (link.url == '/account/logout' and customer == false) or (link.url == '/account/orders' and customer == false) or (link.url == '/account' and customer == false) or (link.url == '/account/login' and customer == true) %}
												{%- set valid = false -%}
											{% endif %}
											{% if (valid) and link.links | length == 0 %}
												<li class="nav-item{% if link.active %} active{% endif %}">
													<a class="nav-link" href="{{ link.url }}">
														{{ link.title }}
														{% if link.url == '/' %}
															<span class="sr-only">(current)</span>
														{% endif %}
													</a>
												</li>
								            {% elseif (valid) %}
								                <li class="nav-item offcanvas">  
                                                    <a class="nav-link offcanvas-toggle" id="menu_{{index}}" role="button">
                                                        {{ link.title }} <i class="submenu-arrow" data-feather="arrow-right" height="20" width="20"></i>
                                                    </a>
                                                    <div class="menu-wrapper-submenu py-3">
                                                        <div class="offcanvas-menu float-none p-0 text-center border-0 w-100" aria-labelledby="menu_{{index}}">
                                                            <button class="menu-wrapper-close-button btn" data-level="1">
                                                                <i data-feather="arrow-left"></i><span>{{ link.title }}</span>
                                                            </button>
                                                            {% for subLink in link.links %}
                                                                {% if (valid) and subLink.links | length == 0 %}
                                                                    <a class="nav-link" href="{{ subLink.url }}">{{ subLink.title }}</a>
                                                                {% elseif (valid) %}
                                                                    <div class="submenu offcanvas offcanvas-submenu px-4 px-md-0">
                                                                        <a class="nav-link offcanvas-toggle px-4" id="menu2_{{index}}" role="button">
                                                                            {{ subLink.title }} <i class="submenu-arrow" data-feather="arrow-right" height="20" width="20"></i>
                                                                        </a>
                                                                        <div class="menu-wrapper-submenu py-3">
                                                                            <div class="submenu offcanvas-menu float-none text-center border-0 py-0 w-100 " aria-labelledby="menu2_{{index}}">
                                                                                <button class="menu-wrapper-close-button btn" data-level="2">
                                                                                    <i data-feather="arrow-left"></i><span>{{ subLink.title }}</span>
                                                                                </button>
                                                                                {% for sub2Link in subLink.links %}
                                                                                    {% if (valid) %}
                                                                                        <a class="nav-link float-none position-relative px-4" href="{{ sub2Link.url }}">{{ sub2Link.title }}</a>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </li>
											{% endif %}
										{% endfor %}
								{% endif %}
                                {% if settings.options.login_menu == true %}
                                    {% if customer == false %}
                                    <li class="nav-item d-lg-none">
                                        <a href="/account/login" title="Login" class="nav-link">
                                            <span class="text-wrap w-100">Log in</span>
                                        </a>
                                    </li>
                                    {% else %}
                                    <li class="nav-item d-lg-none">
                                        <a href="/account" class="nav-link">
                                            <span class="text-wrap w-100">Account</span>
                                        </a>
                                    </li>
                                    <li class="nav-item d-lg-none">
                                        <a href="/account/orders" class="nav-link">
                                            <span class="text-wrap w-100">Orders</span>
                                        </a>
                                    </li>
                                    <li class="nav-item d-lg-none">
                                        <a href="/account/logout" class="nav-link">
                                            <span class="text-wrap w-100">Logout</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                {% endif %}
							</ul>

						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

    <div class="collapse" id="collapseSearch">
        <div class="row mx-0">
            <div class="col-2 col-md-1 text-right pr-0 pt-2">
                <a href="" id="buttonSearch">
                    <i data-feather="search" class="nav-icons" height="20" width="20"></i>
                </a>
            </div>
            <div class="col-10 col-md-11">
                <input class="input-search-products form-control py-2" type="search" placeholder="Search" value="" id="products-search-input">
            </div>
        </div>
    </div>

    <div class="container">
        {{ content }}
    </div>

    {% else %}

        {{ content }}

    {% endif %}

    <!-- Whatsapp settings -->
    {% if settings.options.whatsapp_number %}

    {%- set whatsapp_product_text = settings.options.whatsapp_product_text -%}
    {%- set whatsapp_general_text = settings.options.whatsapp_general_text -%}

        <div class="whatsapp {% if page.template == 'product' %}{% if settings.options.sticky_btn %}whatsapp-mobile{% endif %}{% endif %}">
            <a href="https://wa.me/{{ settings.options.whatsapp_number | escape }}{% if page.template == 'product' %}?text={{ whatsapp_product_text }}%20{{ product.name | escape }}%20{{ product.url }}{% else %}?text={{ whatsapp_general_text }}{% endif %}" target="_blank" class="whatsapp-btn"><i data-feather="message-circle" class="d-block d-sm-none"></i><div class="d-none d-sm-block">{{ settings.options.whatsapp_text }}</div></a>
        </div>
    {% endif %}
    <!-- /.Whatsapp settings -->

	<div class="social-proofs"></div>

    <section class="footer {% if page.template == 'product' %}checkout-padding{% endif %}">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 text-center">
                    <hr class="hr-small mb-4">

					{% if settings.options.social_media %}
                    <ul class="footer-sc">

                        {% if settings.options.facebook %}
                        <li class="nav-item">
                            <a href="{{ settings.options.facebook }}" target="_blank">
                                <i data-feather="facebook" class="sc-feather"></i>
                            </a>
                        </li>
                        {% endif %}

                        {% if settings.options.instagram %}
                        <li class="nav-item">
                            <a href="{{ settings.options.instagram }}" target="_blank">
                                <i data-feather="instagram" class="sc-feather"></i>
                            </a>
                        </li>
                        {% endif %}

                        {% if settings.options.youtube %}
                        <li class="nav-item">
                            <a href="{{ settings.options.youtube }}" target="_blank">
                                <i data-feather="youtube" class="sc-feather"></i>
                            </a>
                        </li>
                        {% endif %}

                        {% if settings.options.twitter %}
                        <li class="nav-item">
                            <a href="{{ settings.options.twitter }}" target="_blank">
                                <i data-feather="twitter" class="sc-feather"></i>
                            </a>
                        </li>
                        {% endif %}
                        {% if settings.options.tiktok %}
                        <li class="nav-item">
                            <a href="{{ settings.options.tiktok }}" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" role="img" viewBox="0 0 24 24" fill="currentColor" class="sc-feather"><path d="M12.525.02c1.31-.02 2.61-.01 3.91-.02.08 1.53.63 3.09 1.75 4.17 1.12 1.11 2.7 1.62 4.24 1.79v4.03c-1.44-.05-2.89-.35-4.2-.97-.57-.26-1.1-.59-1.62-.93-.01 2.92.01 5.84-.02 8.75-.08 1.4-.54 2.79-1.35 3.94-1.31 1.92-3.58 3.17-5.91 3.21-1.43.08-2.86-.31-4.08-1.03-2.02-1.19-3.44-3.37-3.65-5.71-.02-.5-.03-1-.01-1.49.18-1.9 1.12-3.72 2.58-4.96 1.66-1.44 3.98-2.13 6.15-1.72.02 1.48-.04 2.96-.04 4.44-.99-.32-2.15-.23-3.02.37-.63.41-1.11 1.04-1.36 1.75-.21.51-.15 1.07-.14 1.61.24 1.64 1.82 3.02 3.5 2.87 1.12-.01 2.19-.66 2.77-1.61.19-.33.4-.67.41-1.06.1-1.79.06-3.57.07-5.36.01-4.03-.01-8.05.02-12.07z"/></svg>
                            </a>
                        </li>
                        {% endif %}

                    </ul>
                    {% endif %}

                    {% if settings.options.footer_menu %}
                        {% if attribute(menus, settings.options.footer_menu_handle) %}
                        <ul class="footer-nav">

                            {% for link in attribute(menus, settings.options.footer_menu_handle).links %}

                                <li class="nav-item"><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
                            {% endfor %}

                        </ul>
                        {% endif %}
                    {% endif %}

                </div>
                {% if settings.options.footer_company_detail %}
                    <div class="col-12 text-center">

                        <p class="credit mb-0">{{ settings.options.footer_company_detail }}</p>

                    </div>
                {% endif %}
                <div class="col-12 text-center">
                    <p class="credit">© {{ 'now' | date('Y') }} {{ store.name }}. All rights reserved.</p>
                    <p class="powered">Powered by <a href="https://shoppego.com" rel="nofollow" target="_blank" title="Shoppego">Shoppego</a></p>
                </div>
            </div>
        </div>

    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js"></script>
    {{ js }}

    {% if page.metafields.builder.js %}
    <!-- Page builder js -->
    <script type="text/javascript">
        {{ page.metafields.builder.js }}
    </script>
    <!-- End of page builder js -->
    {% endif %}

    {% if page.metafields.builder.css %}
    <!-- Page builder styling -->
    <style type="text/css">
        {{ page.metafields.builder.css }}

        #u_body .container, .footer .container, .announcement-bar .container {
            padding: 0 15px;
        }

            a.product-link {
            text-decoration: none;
            color: #f0c14b;
        }

        .footer a, nav a, .header a{
            color: {{ settings.colors.a_link }};
            text-decoration: none;
        }

        .footer a:hover, .footer a:focus, nav a:hover, nav a:focus, .header a:hover, .header a:focus {
            color: {{ settings.colors.a_link_hover }};
            text-decoration: none;
        }

    </style>
    <!-- End of page builder styling -->
    {% endif %}

	 <!-- Social proof styling -->

    {% if page.template == 'product' %}

        {% if settings.options.sticky_btn %}

            {% if whatsapp_sticky == 1 %}

                <style type="text/css">

                @media (max-width: 576px) {

                    .footer {
                        padding-bottom: 12em !important;
                    }

                     @keyframes slideIn {
                        0% {
                            transform: translateY(100%);
                            opacity: 0;
                        }
                        100% {
                            transform: translateY(-65%);
                            opacity: 1;
                        }
                    }

                }

                </style>

            {% else %}

                <style type="text/css">

                @media (max-width: 576px) {

                    .footer {
                        padding-bottom: 13em !important;
                    }

                     @keyframes slideIn {
                        0% {
                            transform: translateY(100%);
                            opacity: 0;
                        }
                        100% {
                            transform: translateY(-65%);
                            opacity: 1;
                        }
                    }

                }

                </style>

            {% endif %}

        {% else %}

            <style type="text/css">

            @media (max-width: 576px) {

                .footer {
                    padding-bottom: 9em !important;
                }

            }

            </style>

        {% endif %}

    {% endif %}

    {% if page.template == 'cart' %}

        <style type="text/css">

        @media (max-width: 576px) {

            .footer {
                padding-bottom: 9em !important;
            }

        }

        </style>

    {% endif %}

    <!-- /.Social proof styling -->

    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "aecf724216724271b6e368efb7fa20aa"}'></script><!-- End Cloudflare Web Analytics -->

</body>
</html>