<!-- Products template -->
<section class="products">

    <div class="row">
        <div class="col-12 text-center">
            <h1 class="section-title">
                {{ title }}
            </h1>
            <hr class="hr-small mb-4">
        </div>

		<div class="col-12 text-center mb-4 d-none" id="searchResult">
			<p class="text-muted">{{ products | length }} results for <span id="searchValueProducts"></span> </p>
        </div>
    </div>

    <div class="row">
            <!-- Homepage featured products -->
            {% if products > 0 %}

                <!-- All Products -->
                {% for product in products %}

                    <div class="{{ settings.options.mobile_grid_column }} {{ settings.options.grid_column }}">

                        {% if product.available %}

                            <a href="{{ product.url }}" title="{{ product.name | escape }}">

                                <div class="product-image">

                                    {% if product.metafields.label.custom %}

                                    <span class="custom-label badge badge-primary">{{ product.metafields.label.custom }}</span>

                                    {% endif %}

                                    {% if product.featured_image %}

                                        {% if settings.options.hd_featured_image %}

                                        <img width="100%" src="{{ product.featured_image | product_image_size('large') }}" alt="{{ product.name }}">

                                        {% else %}

                                        <img width="100%" src="{{ product.featured_image | product_image_size('medium') }}" alt="{{ product.name }}">

                                        {% endif %}

                                    {% else %}

                                        {{ 'image' | placeholder_svg_tag }}

                                    {% endif %}

                                </div>

                            </a>

                        {% else %}

                            <a href="{{ product.url }}" title="{{ product.name | escape }}">

                                <div class="product-image sold-out">

                                    <div class="sold-out-badge"><p>Sold out</p></div>

                                    {% if product.featured_image %}

                                        {% if settings.options.hd_featured_image %}

                                        <img width="100%" src="{{ product.featured_image | product_image_size('large') }}" alt="{{ product.name }}">

                                        {% else %}

                                        <img width="100%" src="{{ product.featured_image | product_image_size('medium') }}" alt="{{ product.name }}">

                                        {% endif %}

                                    {% else %}

                                        {{ 'image' | placeholder_svg_tag }}

                                    {% endif %}

                                </div>

                            </a>

                        {% endif %}

                        <div class="product-info">

                            <a href="{{ product.url }}" title="{{ product.name | escape }}">

                            <h3>{{ product.name | escape }}</h3>

                            {% if product.compare_at_price_max > 0 %}

                                {% if product.selected_or_first_available_variant.compare_at_price %}
                                <span class="discount-price">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
                                {% endif %}

                                {% if product.price_varies %}
                                    <span class="price">{{ product.price | money }}<sup>+</sup></span>
                                {% else %}
                                    <span class="price">{{ product.price | money }}</span>
                                {% endif %}

                            {% else %}

                                {% if product.price_varies %}
                                    <span class="price">{{ product.price | money }}<sup>+</sup></span>
                                {% else %}
                                    <span class="price">{{ product.price | money }}</span>
                                {% endif %}

                            {% endif %}

                            </a>

                        </div>

                    </div>

                {% endfor %}
                <!-- /.All Products -->

            {% else %}

                <!-- Empty state placeholder -->
                {% for i in range(0, 5) %}

                    <div class="{{ settings.options.mobile_grid_column }} {{ settings.options.grid_column }}">

                        <div class="product-image">
                            {{ 'product-1' | placeholder_svg_tag }}
                        </div>

                        <div class="product-info">
                            <h3>Product name</h3>
                            <span class="product-price">RM99.99</span>
                        </div>

                    </div>

                {% endfor %}
                <!-- /.Empty state placeholder -->

            {% endif %}
        <!-- /.Homepage featured products -->

        </div>

    </div>

</section>

<!-- Simple pagination -->
{% if page.template != 'home' %}
    {% if products.0.paginate.next or products.0.paginate.previous %}
    <div class="row">
        <div class="col-12 text-center mt-5 mb-5">

         {% if products.0.paginate.previous %}
         <a class="btn btn-sm btn-outline-dark paginate-btn" href="{{ products.0.paginate.previous }}"><i data-feather="arrow-left" height="10px" width="14px"></i> Previous</a>
         {% endif %}

         {% if products.0.paginate.next %}
            <a class="btn btn-sm btn-outline-dark paginate-btn" href="{{ products.0.paginate.next }}">Next <i data-feather="arrow-right" height="10px" width="14px"></i></a>
         {% endif %}

        </div>
    </div>
    {% endif %}
{% endif %}
<!-- /.Simple pagination -->